# SPDX-FileCopyrightText: 2026 2026 PhiLia093 phi_lia093@126.com
#
# SPDX-License-Identifier: GPL-3.0-or-later

BasedOnStyle: GNU

ColumnLimit: 80

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

PointerAlignment: Right

AlwaysBreakAfterReturnType: None

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

SpacesInParentheses: false
SpacesInSquareBrackets: false

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: false
AlignConsecutiveMacros: false

SortIncludes: true

AccessModifierOffset: -4